
@import url('https://fonts.googleapis.com/css2?family=Anuphan:wght@200&display=swap');
  

.packs {
  display: flex;
  gap: 10px;
  padding: 10px;
  margin-right: 5%;
}

.pack-image {
  width:100%;
  height:100%;
  opacity: 30%;
}

.pack-image:hover {
  opacity: 50%;
  cursor: pointer;
}


/* Landing Page Styles */


.overlay {
  background-image: url(https://wallpaperaccess.com/full/1943463.jpg);
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(70, 65, 65, 0.5);
  opacity: 100%;
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30%;
  color: white;
}

.content h1 {
  font-size: 32px;
}

.content input {
  padding: 10px;
  margin-bottom: 10px;
}

.content button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.how-it-works-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  background-color: rgb(255, 255, 255);
}

.business-package {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  background-color: rgb(150, 175, 150);
}

.left {
  flex: 1;
}

.right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right iframe {
  width: 100%;
  max-width: 560px;
  height: 315px;
}

.carousel-section {
  text-align: center;
  padding: 50px;
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel img {
  width: 350px;
  height: 250px;
  margin: 0 10px;
  opacity: 30%;
}

.carousel img:hover {
  opacity: 50%;
  cursor: pointer;
}

.scroll-button {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
  padding: 10px 20px;
  background-color: transparent;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
}

.scroll-button:hover {
  color: #007bff;
}


@media (max-width: 700px) {
  .how-it-works-section {
    flex-direction: column;
    padding: 20px;
  }

  .left,
  .right {
    flex: auto;
    width: 100%;
  }

  .right iframe {
    max-width: none;
    height: auto;
  }

  .carousel img {
    width: 100%;
    height: auto;
  }
}

/* Mobile-friendly styles for screens below 340px */

@media (max-width: 340px) {
  .content h1 {
    font-size: 24px;
  }

  .scroll-button {
    font-size: 14px;
  }
}

.home-page-image {
  opacity: 30%;
  width: 50%;
  height: auto;
}



.form-container {
  display: inline-block;
  flex-direction: column;
  align-items: center;
}

.form-container h2 {
  margin-bottom: 20px;
}

.form-container label {
  display: block;
  margin-bottom: 10px;
}

.form-container input[type="text"],
.form-container select {
  width: 100%;
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.form-container textarea {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.form-container button[type="submit"] {
  padding: 10px 20px;
  background-color: #7b88ff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

.cart-container {
  display:inline-block;
  margin-left: 50%;
  border: solid 2px lightblue;
  border-radius: 5px;
  padding: 30px;
  position:absolute;
}

.cart-container h2 {
  margin-bottom: 10px;
}

.cart-container ul {
  list-style-type: none;
  padding: 0;
}

.cart-container ul li {
  margin-bottom: 5px;
}

.cart-container p {
  margin-top: 10px;
}

.payment-container {
  margin-top: 30px;
}

.payment-container button {
  padding: 10px 20px;
  background-color: #7b88ff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}


.register{
  background: -webkit-linear-gradient(left, #3931af, #00c6ff);
  padding: 1%;
}
.register-left{
  text-align: center;
  color: #fff;
  margin-top: 1%;
}
.register-left input{
  border: none;
  border-radius: 1.5rem;
  padding: 2%;
  width: 60%;
  background: #f8f9fa;
  font-weight: bold;
  color: #383d41;
  margin-top: 10%;
  margin-bottom: 3%;
  cursor: pointer;
}
.register-right{
  background: #f8f9fa;
  border-top-left-radius: 10% 50%;
  border-bottom-left-radius: 10% 50%;
}
.register-left img{
  margin-top: 15%;
  margin-bottom: 5%;
  width: 25%;
  -webkit-animation: mover 2s infinite  alternate;
  animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-20px); }
}
@keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-20px); }
}
.register-left p{
  font-weight: lighter;
  padding: 12%;
  margin-top: -9%;
}
.register .register-form{
  padding: 10%;
  margin-top: 0%;
}
.btnRegister{
  float: right;
  margin-top: 10%;
  border: none;
  border-radius: 1.5rem;
  padding: 2%;
  background: #0062cc;
  color: #fff;
  font-weight: 600;
  width: 50%;
  cursor: pointer;
}
.register .nav-tabs{
  margin-top: 3%;
  border: none;
  background: #0062cc;
  border-radius: 1.5rem;
  width: 28%;
  float: right;
}
.register .nav-tabs .nav-link{
  padding: 2%;
  height: 34px;
  font-weight: 600;
  color: #fff;
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}
.register .nav-tabs .nav-link:hover{
  border: none;
}
.register .nav-tabs .nav-link.active{
  width: 100px;
  color: #0062cc;
  border: 2px solid #0062cc;
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
}
.register-heading{
  text-align: center;
  margin-top: 8%;
  margin-bottom: -15%;
  color: #495057;
}