
body {
  background: black;
}

.background-video {
    height: 100vh;
    width: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-color: black;
  }

  @media (max-width: 1240px)
  {
    .background-video {
    width: fit-content;
  }
}

