
.css-1kcb7bo {
    line-height: 0;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 0px !important;
    opacity: 1;
    background: transparent;
    color: inherit;
    border-radius: none;
    box-shadow: none;
    cursor: pointer;
}

.css-1dyncq9 {
    justify-content: center !important;
}