footer {
    background-color: #d35555;
    padding: 20px 0;
  }
  
  .footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .footer-section {
    flex-basis: 30%;
    margin-bottom: 20px;
  }
  
  .footer-section h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .footer-section p {
    margin-bottom: 8px;
  }
  
  .social-media-icons li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .social-media-icons li:last-child {
    margin-right: 0;
  }
  
  .social-media-icons a {
    color: #333;
    font-size: 24px;
  }
  
  .footer-bottom {
    background-color: #d8d8d8;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
  }
  
  .footer-bottom p {
    margin: 0;
    font-size: 14px;
    color: #666;
  }
  