.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.home-product {
    border: 1px solid lightblue;
    padding: 3px;
    border-radius: 3px;
}

.home-product:hover {
box-shadow: 0 10px 40px 0 lightblue;
cursor: pointer;
}

.home-product img {
    width: 190px;
    height: 150px;
}

